[submodule "components/vehicle/uwb_firmware"]
	path = components/vehicle/uwb_firmware
	url = https://github.com/FYP-UAV-ENTC-22/castor-localization.git
[submodule "components/simulation/IsaacLab"]
	path = components/simulation/IsaacLab
	url = https://github.com/FYP-UAV-ENTC-22/IsaacLab.git
[submodule "components/planning/skrl"]
	path = components/planning/skrl
	url = https://github.com/FYP-UAV-ENTC-22/skrl.git
[submodule "components/vehicle/PX4-Autopilot"]
	path = components/vehicle/PX4-Autopilot
	url = https://github.com/FYP-UAV-ENTC-22/PX4-Autopilot.git
[submodule "components/simulation/pegasus_simulator"]
	path = components/simulation/pegasus_simulator
	url = https://github.com/FYP-UAV-ENTC-22/pegasus_simulator.git
[submodule "components/planning/MARL_cooperative_aerial_manipulation_ext"]
	path = components/planning/MARL_cooperative_aerial_manipulation_ext
	url = https://github.com/FYP-UAV-ENTC-22/MARL_cooperative_aerial_manipulation_ext.git
[submodule "legacy/drone-ops"]
	path = legacy/drone-ops
	url = https://github.com/FYP-UAV-ENTC-22/castor-drone-ops.git
